body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  padding: 40px;
}

h1 {
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
